# SUPABASE CONFIGURATION
VITE_SUPABASE_URL=https://bannvfxsibavzhflpkcb.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJhbm52ZnhzaWJhdnpoZmxwa2NiIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzc1ODA3MDAsImV4cCI6MjA5MzE1NjcwMH0.PkpsHusxPzNm8d1cRZWBMaxbvsaGR8zdF9gJMUCmnYo
